@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */
@font-face {
  font-family: "Alata";
  src: url(/fonts/Alata-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Pacifico";
  src: url(/fonts/Pacifico-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "Alata";
}

.pacifico {
  font-family: "Pacifico";
}
.heading {
  font-size: 1.25rem;
  line-height: 27.6px;
}

.body {
  font-size: 1rem;
  line-height: 22.08px;
}

.body2 {
  font-size: .875rem;
  line-height: 19.32px;
}